* {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: auto;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.body {
  background-color: #0767F9;
  padding: min(max(1.25vw, 16px), 24px);
  max-width: 100vw;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #92B6D0;
  border-radius: min(max(1.25vw, 8px), 24px);
}

.main__title {
  margin: 0;
  padding: min(max(1.25vw, 8px), 24px);
  font-size: min(max(3.3vw, 48px), 64px);
  text-align: center;
}

.mems {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: min(3vw, 50px);
  padding: min(max(1.25vw, 8px), 24px);
  border-radius: min(max(1.25vw, 8px), 24px);
}

.mem {
  padding: min(max(1.25vw, 8px), 24px);
  background-color: #FFFFFF;
  border-radius: min(max(1.25vw, 8px), 24px);
  border: dotted 12px #FFFFFF;
}



.mem__title {
  width: 100%;
  font-size: min(max(2.18vw, 20px), 42px);
  transition: .4s;
  background-size: min(max(2.18vw, 20px), 42px) min(max(2.18vw, 20px), 42px);
  background-repeat: no-repeat;
  background-position: right center;
}

.active {
  display: none;
}

.active:checked+.mem__title {
  color: #0767F9;
  transition: .5s;

}

.active:checked+.mem {
  border-color: #0767F9;
  border-radius: min(max(1.25vw, 8px), 24px);
}

.mem__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 0;
  transition: all 1s ease-out;
  overflow: hidden;
  opacity: 0;
  border: dotted 12px #FFFFFF;
  border-radius: min(max(1.25vw, 8px), 24px);
}

.mem__description:active {
  border-color: #798caa;
}

.active:checked~.mem__description {
  height: min(max(42.18vw, 100%), 810px);
  opacity: 1;
  transition: all 1.5s ease-in;
}

.mem__phrase {
  padding: min(max(1.25vw, 8px), 24px);
  font-size: min(max(2.18vw, 20px), 42px);
  font-weight: 700;
}

.mem__image {
  padding: min(max(1.25vw, 8px), 24px);
  max-width: 100%;
  height: auto;
  text-align: center;
}

.mem:active>.mem__image {}



@media (min-width: 1920px) {
  .mems:hover {
    cursor: pointer;
  }

  .mem:hover {
    cursor: pointer;
  }

  .mem:hover>.mem__description {
    height: min(max(42.18vw, 100%), 810px);
    opacity: 1;
    transition: all .5s ease-in;
  }

  .mems:hover .mem__title {
    color: #0767F9;
    transition: .5s;
    background-image: url(./assets/svg/check.svg);
  }

  .mems:hover .active:checked~.mem__title {
    background-image: url(./assets/svg/cross.svg);
  }

  .mems:hover .mem:hover .mem__title {
    transition: .5s;
    background-image: url(./assets/svg/cross.svg);
  }
}